<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/projects">Projects</a>
    <a href="/carros">Carros</a>
    <a href="/usuarios/login">Login</a>
  </nav>
  <h1>Projects</h1>
  <table>
    <thead>
      <tr><th>Projeto</th><th>Link</th></tr>
    </thead>
    <tbody>
      <tr>
        <td>Carros</td>
        <td><a href="/carros">Acessar</a></td>
      </tr>
    </tbody>
  </table>
</body>
</html>