<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Cadastro</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav>
    <a href="/projects">Projects</a>
    <a href="/carros">Carros</a>
    <a href="/usuarios/login">Login</a>
  </nav>
  <h1>Cadastro de Usuário</h1>
  <% if (erro) { %><p style="color:red"><%= erro %></p><% } %>
  <% if (sucesso) { %><p style="color:green"><%= sucesso %></p><% } %>
  <form action="/usuarios/cadastro" method="POST">
    <label>Nome:</label>
    <input type="text" name="nome" required><br>
    <label>Login:</label>
    <input type="text" name="login" required><br>
    <label>Senha:</label>
    <input type="password" name="senha" required><br>
    <button type="submit">Cadastrar</button>
  </form>
  <a href="/usuarios/login">Já tenho conta</a>
</body>
</html>
